In [33]:
import urllib.request, re
from html.parser import HTMLParser
from bs4 import BeautifulSoup
import sys
import pandas as pd
from urllib.request import urlopen
import time
from os import listdir 
from os.path import isfile,join
import re
#import selenium

In [2]:
url="https://www.cricbuzz.com/cricket-series/2697/icc-cricket-world-cup-2019/matches"

In [3]:
request = urllib.request.Request(url)
page = urllib.request.urlopen(request).read()
soup = BeautifulSoup(page, "html.parser")

In [13]:
team=(soup.find_all('div', {'class': 'text-gray'}))

In [42]:
print(team[7].text)

County Ground, Bristol

In [6]:
print(team[2].text.split(",")[0].lstrip())

09:30 AM GMT	/ 10:30 AM LOCAL

In [7]:
teamc=(soup.find_all('div', {'class': 'cb-col-100 cb-col cb-series-brdr'}))

In [8]:
print(teamc[0].text)

Windies vs Pakistan, Match 2Trent Bridge, Nottingham09:30 AM GMT	/ 10:30 AM LOCAL

In [9]:
team_x=soup.find_all('div', {'class': 'cb-col-100 cb-col'})
team_y=soup.find_all('div', {'class': 'cb-col-100 cb-col cb-series-brdr'})

In [10]:
cols=["team1","team2","match_no","stadium"]

In [48]:
li_data=[]

In [51]:
for i in range(len(team_x)):
    li_ldata=[]
    li=team_x[i].text.split(",")
    #print(li)
    li_t=li[0].lstrip().split("vs")
    #print(li_t)
    li_ldata.append(li_t[0])
    li_ldata.append(li_t[1])
    stadium=str(li[1].replace("Match","").lstrip())
    li_no=re.findall(r'\d+', stadium)
    if (len(li_no)==1):
        ind=int(li_no[0])
        li_ldata.append(ind)
        #print(ind)
        ind=1+2*(ind-1)
        li_ldata.append(team[ind].text)
        #print(team[ind].text)
    print(li_ldata)
    li_data.append(li_ldata)

['England ', ' South Africa', 1, 'Kennington Oval, London']
['Afghanistan ', ' Australia', 4, 'County Ground, Bristol']
['Bangladesh ', ' New Zealand', 9, 'Kennington Oval, London']
['Afghanistan ', ' New Zealand', 13, 'The Cooper Associates County Ground, Taunton']
['South Africa ', ' Afghanistan', 21, 'Sophia Gardens, Cardiff']
['Windies ', ' New Zealand', 29, 'Old Trafford, Manchester']
['New Zealand ', ' Australia', 37, "Lord's, London"]
['Australia ', ' South Africa', 45, 'Old Trafford, Manchester']

In [52]:
for i in range(len(team_y)):
    li_ldata=[]
    li=team_y[i].text.split(",")
    #print(li)
    li_t=li[0].lstrip().split("vs")
    li_ldata.append(li_t[0])
    li_ldata.append(li_t[1])
    stadium=str(li[1].replace("Match",""))
    li_no=re.findall(r'\d+', stadium)
    if (len(li_no)==1):
        ind=int(li_no[0])
        li_ldata.append(ind)
        #print(ind)
        ind=1+2*(ind-1)
        li_ldata.append(team[ind].text)
        #print(team[ind].text)
    print(li_ldata)
    li_data.append(li_ldata)

['Windies ', ' Pakistan', 2, 'Trent Bridge, Nottingham']
['New Zealand ', ' Sri Lanka', 3, 'Sophia Gardens, Cardiff']
['South Africa ', ' Bangladesh', 5, 'Kennington Oval, London']
['England ', ' Pakistan', 6, 'Trent Bridge, Nottingham']
['Afghanistan ', ' Sri Lanka', 7, 'Sophia Gardens, Cardiff']
['South Africa ', ' India', 8, 'The Rose Bowl, Southampton']
['Australia ', ' Windies', 10, 'Trent Bridge, Nottingham']
['Pakistan ', ' Sri Lanka', 11, 'County Ground, Bristol']
['England ', ' Bangladesh', 12, 'Sophia Gardens, Cardiff']
['India ', ' Australia', 14, 'Kennington Oval, London']
['South Africa ', ' Windies', 15, 'The Rose Bowl, Southampton']
['Bangladesh ', ' Sri Lanka', 16, 'County Ground, Bristol']
['Australia ', ' Pakistan', 17, 'The Cooper Associates County Ground, Taunton']
['India ', ' New Zealand', 18, 'Trent Bridge, Nottingham']
['England ', ' Windies', 19, 'The Rose Bowl, Southampton']
['Sri Lanka ', ' Australia', 20, 'Kennington Oval, London']
['India ', ' Pakistan', 22, 'Old Trafford, Manchester']
['Windies ', ' Bangladesh', 23, 'The Cooper Associates County Ground, Taunton']
['England ', ' Afghanistan', 24, 'Old Trafford, Manchester']
['New Zealand ', ' South Africa', 25, 'Edgbaston, Birmingham']
['Australia ', ' Bangladesh', 26, 'Trent Bridge, Nottingham']
['England ', ' Sri Lanka', 27, 'Headingley, Leeds']
['India ', ' Afghanistan', 28, 'The Rose Bowl, Southampton']
['Pakistan ', ' South Africa', 30, "Lord's, London"]
['Bangladesh ', ' Afghanistan', 31, 'The Rose Bowl, Southampton']
['England ', ' Australia', 32, "Lord's, London"]
['New Zealand ', ' Pakistan', 33, 'Edgbaston, Birmingham']
['Windies ', ' India', 34, 'Old Trafford, Manchester']
['Sri Lanka ', ' South Africa', 35, 'Riverside Ground, Chester-le-Street']
['Pakistan ', ' Afghanistan', 36, 'Headingley, Leeds']
['England ', ' India', 38, 'Edgbaston, Birmingham']
['Sri Lanka ', ' Windies', 39, 'Riverside Ground, Chester-le-Street']
['Bangladesh ', ' India', 40, 'Edgbaston, Birmingham']
['England ', ' New Zealand', 41, 'Riverside Ground, Chester-le-Street']
['Afghanistan ', ' Windies', 42, 'Headingley, Leeds']
['Pakistan ', ' Bangladesh', 43, "Lord's, London"]
['Sri Lanka ', ' India', 44, 'Headingley, Leeds']
['TBC ', ' TBC']
['TBC ', ' TBC']
['TBC ', ' TBC']

In [26]:
stadium
[int(s) for s in stadium.split() if s.isdigit()]

[]

In [53]:
li_data

[['England ', ' South Africa', 1, 'Kennington Oval, London'],
 ['Afghanistan ', ' Australia', 4, 'County Ground, Bristol'],
 ['Bangladesh ', ' New Zealand', 9, 'Kennington Oval, London'],
 ['Afghanistan ',
  ' New Zealand',
  13,
  'The Cooper Associates County Ground, Taunton'],
 ['South Africa ', ' Afghanistan', 21, 'Sophia Gardens, Cardiff'],
 ['Windies ', ' New Zealand', 29, 'Old Trafford, Manchester'],
 ['New Zealand ', ' Australia', 37, "Lord's, London"],
 ['Australia ', ' South Africa', 45, 'Old Trafford, Manchester'],
 ['Windies ', ' Pakistan', 2, 'Trent Bridge, Nottingham'],
 ['New Zealand ', ' Sri Lanka', 3, 'Sophia Gardens, Cardiff'],
 ['South Africa ', ' Bangladesh', 5, 'Kennington Oval, London'],
 ['England ', ' Pakistan', 6, 'Trent Bridge, Nottingham'],
 ['Afghanistan ', ' Sri Lanka', 7, 'Sophia Gardens, Cardiff'],
 ['South Africa ', ' India', 8, 'The Rose Bowl, Southampton'],
 ['Australia ', ' Windies', 10, 'Trent Bridge, Nottingham'],
 ['Pakistan ', ' Sri Lanka', 11, 'County Ground, Bristol'],
 ['England ', ' Bangladesh', 12, 'Sophia Gardens, Cardiff'],
 ['India ', ' Australia', 14, 'Kennington Oval, London'],
 ['South Africa ', ' Windies', 15, 'The Rose Bowl, Southampton'],
 ['Bangladesh ', ' Sri Lanka', 16, 'County Ground, Bristol'],
 ['Australia ',
  ' Pakistan',
  17,
  'The Cooper Associates County Ground, Taunton'],
 ['India ', ' New Zealand', 18, 'Trent Bridge, Nottingham'],
 ['England ', ' Windies', 19, 'The Rose Bowl, Southampton'],
 ['Sri Lanka ', ' Australia', 20, 'Kennington Oval, London'],
 ['India ', ' Pakistan', 22, 'Old Trafford, Manchester'],
 ['Windies ',
  ' Bangladesh',
  23,
  'The Cooper Associates County Ground, Taunton'],
 ['England ', ' Afghanistan', 24, 'Old Trafford, Manchester'],
 ['New Zealand ', ' South Africa', 25, 'Edgbaston, Birmingham'],
 ['Australia ', ' Bangladesh', 26, 'Trent Bridge, Nottingham'],
 ['England ', ' Sri Lanka', 27, 'Headingley, Leeds'],
 ['India ', ' Afghanistan', 28, 'The Rose Bowl, Southampton'],
 ['Pakistan ', ' South Africa', 30, "Lord's, London"],
 ['Bangladesh ', ' Afghanistan', 31, 'The Rose Bowl, Southampton'],
 ['England ', ' Australia', 32, "Lord's, London"],
 ['New Zealand ', ' Pakistan', 33, 'Edgbaston, Birmingham'],
 ['Windies ', ' India', 34, 'Old Trafford, Manchester'],
 ['Sri Lanka ', ' South Africa', 35, 'Riverside Ground, Chester-le-Street'],
 ['Pakistan ', ' Afghanistan', 36, 'Headingley, Leeds'],
 ['England ', ' India', 38, 'Edgbaston, Birmingham'],
 ['Sri Lanka ', ' Windies', 39, 'Riverside Ground, Chester-le-Street'],
 ['Bangladesh ', ' India', 40, 'Edgbaston, Birmingham'],
 ['England ', ' New Zealand', 41, 'Riverside Ground, Chester-le-Street'],
 ['Afghanistan ', ' Windies', 42, 'Headingley, Leeds'],
 ['Pakistan ', ' Bangladesh', 43, "Lord's, London"],
 ['Sri Lanka ', ' India', 44, 'Headingley, Leeds'],
 ['TBC ', ' TBC'],
 ['TBC ', ' TBC'],
 ['TBC ', ' TBC']]

In [56]:
op=pd.DataFrame(li_data)

op.columns=["team1","team2","match_no","stadium"]
print(op)

            team1          team2  match_no  \
0        England    South Africa       1.0
1    Afghanistan       Australia       4.0
2     Bangladesh     New Zealand       9.0
3    Afghanistan     New Zealand      13.0
4   South Africa     Afghanistan      21.0
5        Windies     New Zealand      29.0
6    New Zealand       Australia      37.0
7      Australia    South Africa      45.0
8        Windies        Pakistan       2.0
9    New Zealand       Sri Lanka       3.0
10  South Africa      Bangladesh       5.0
11       England        Pakistan       6.0
12   Afghanistan       Sri Lanka       7.0
13  South Africa           India       8.0
14     Australia         Windies      10.0
15      Pakistan       Sri Lanka      11.0
16       England      Bangladesh      12.0
17         India       Australia      14.0
18  South Africa         Windies      15.0
19    Bangladesh       Sri Lanka      16.0
20     Australia        Pakistan      17.0
21         India     New Zealand      18.0
22       England         Windies      19.0
23     Sri Lanka       Australia      20.0
24         India        Pakistan      22.0
25       Windies      Bangladesh      23.0
26       England     Afghanistan      24.0
27   New Zealand    South Africa      25.0
28     Australia      Bangladesh      26.0
29       England       Sri Lanka      27.0
30         India     Afghanistan      28.0
31      Pakistan    South Africa      30.0
32    Bangladesh     Afghanistan      31.0
33       England       Australia      32.0
34   New Zealand        Pakistan      33.0
35       Windies           India      34.0
36     Sri Lanka    South Africa      35.0
37      Pakistan     Afghanistan      36.0
38       England           India      38.0
39     Sri Lanka         Windies      39.0
40    Bangladesh           India      40.0
41       England     New Zealand      41.0
42   Afghanistan         Windies      42.0
43      Pakistan      Bangladesh      43.0
44     Sri Lanka           India      44.0
45           TBC             TBC       NaN
46           TBC             TBC       NaN
47           TBC             TBC       NaN

                                         stadium
0                        Kennington Oval, London
1                         County Ground, Bristol
2                        Kennington Oval, London
3   The Cooper Associates County Ground, Taunton
4                        Sophia Gardens, Cardiff
5                       Old Trafford, Manchester
6                                 Lord's, London
7                       Old Trafford, Manchester
8                       Trent Bridge, Nottingham
9                        Sophia Gardens, Cardiff
10                       Kennington Oval, London
11                      Trent Bridge, Nottingham
12                       Sophia Gardens, Cardiff
13                    The Rose Bowl, Southampton
14                      Trent Bridge, Nottingham
15                        County Ground, Bristol
16                       Sophia Gardens, Cardiff
17                       Kennington Oval, London
18                    The Rose Bowl, Southampton
19                        County Ground, Bristol
20  The Cooper Associates County Ground, Taunton
21                      Trent Bridge, Nottingham
22                    The Rose Bowl, Southampton
23                       Kennington Oval, London
24                      Old Trafford, Manchester
25  The Cooper Associates County Ground, Taunton
26                      Old Trafford, Manchester
27                         Edgbaston, Birmingham
28                      Trent Bridge, Nottingham
29                             Headingley, Leeds
30                    The Rose Bowl, Southampton
31                                Lord's, London
32                    The Rose Bowl, Southampton
33                                Lord's, London
34                         Edgbaston, Birmingham
35                      Old Trafford, Manchester
36           Riverside Ground, Chester-le-Street
37                             Headingley, Leeds
38                         Edgbaston, Birmingham
39           Riverside Ground, Chester-le-Street
40                         Edgbaston, Birmingham
41           Riverside Ground, Chester-le-Street
42                             Headingley, Leeds
43                                Lord's, London
44                             Headingley, Leeds
45                                          None
46                                          None
47                                          None

In [32]:
type(li[0])

str

In [58]:
op.to_csv("worldcupmatches.csv")